
**/outputs_*/*
**/output_*
*.dat
**/log.lammps
**/*.lammpstrj
**/__pycache__
**/*.pyc
**/topology/lammps/*.data
**/topology/gomc/*.pdb
**/topology/gomc/*.psf
**/lammps-comparison/*.dat

!**/outputs_mu*/density_*.dat
!**/outputs_mu*/number_*.dat
!**/outputs_mu*/log.*

!**/lammps/SiO.data

